@keyframes mist1 {
  0% {
    background-position-x: 0px;
    background-size: 100%; }
  50% {
    background-size: 110%; }
  100% {
    background-position-x: 1726px;
    background-size: 100%; } }

@keyframes mist2 {
  0% {
    background-position-x: 0px;
    background-size: 100%;
    opacity: 0.1; }
  50% {
    background-size: 110%;
    opacity: 0.3; }
  100% {
    background-position-x: -1726px;
    background-size: 100%;
    opacity: 0.1; } }

@keyframes mist3 {
  0% {
    background-position-x: 0px;
    background-size: 100%;
    opacity: 0.0; }
  66% {
    background-size: 110%;
    opacity: 0.3; }
  100% {
    background-position-x: -1726px;
    background-size: 100%;
    opacity: 0.0; } }

@keyframes mist-pulse {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes opacity-pulse {
  0% {
    opacity: 0.2; }
  20% {
    opacity: 0.8; }
  30% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0.4; }
  80% {
    opacity: 0.8; }
  100% {
    opacity: 0.2; } }

@keyframes scrolling-bg {
  0% {
    background-position-x: 0px; }
  100% {
    background-position-x: -1726px; } }

@keyframes glow-pulse {
  0% {
    filter: brightness(1); }
  100% {
    filter: brightness(2.4); } }

@keyframes holoSparkle {
  0%, 100% {
    opacity: .75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25); }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2); }
  13%, 16% {
    opacity: .5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8); }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1); }
  55% {
    opacity: .33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25); } }

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1); }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25); }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88; }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1); }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25); } }

@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg); }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg); }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg); }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg); }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg); } }

@keyframes rotate-bg {
  0% {
    transform: rotateX(45deg) rotateY(350deg) rotateZ(0deg); }
  50% {
    transform: rotateX(60deg) rotateY(350deg) rotateZ(180deg); }
  100% {
    transform: rotateX(45deg) rotateY(350deg) rotateZ(360deg); } }

@keyframes rotate-bg-2d {
  0% {
    transform: translate(-50%, -50%) rotateX(75deg) rotateY(350deg) rotateZ(0deg); }
  50% {
    transform: translate(-50%, -50%) rotateX(75deg) rotateY(355deg) rotateZ(-180deg); }
  100% {
    transform: translate(-50%, -50%) rotateX(75deg) rotateY(350deg) rotateZ(-360deg); } }

@keyframes rotate-bg-2d-2 {
  0% {
    transform: translate(-50%, -50%) rotateX(75deg) rotateY(350deg) rotateZ(180deg); }
  50% {
    transform: translate(-50%, -50%) rotateX(75deg) rotateY(355deg) rotateZ(0deg); }
  100% {
    transform: translate(-50%, -50%) rotateX(75deg) rotateY(350deg) rotateZ(-180deg); } }
