@use "/animations.scss";

:root {
  //color dodge
  --color1: rgba(125, 242, 255, 0.247);
  --color2: rgba(255, 0, 230, 0.418);

  //card glow
  --nida1: #ff006a4b;
  --nida2: rgba(154, 51, 238, 0.205); //#a79d66;
  //--nida1: #5653ff;
  //--nida2: rgba(255, 0, 230, 0.418); //#a79d66;

  //nidalee
  --nidalee: url(/img/nidalee2.png);
  --gem-glow-fx: url(/img/glow.png);
  --hair-color-fx: url(/img/hair-hue-shifter.png);

  //masks
  //looks really cool --maskimage: url(/img/hover-mask-halfhair.png);
  --maskimage: url(/img/sky-mask.webp);
  //this is for the glow that follows the mouse
  --hovermaskimage: url(/img/hover-mask-throughhair.png);
  --starmask: url(/img/starmask.png);
  --sparkle-mask: url(/img/sparkle-mask.webp);
  --flare-mask: url(/img/flare-mask.png);

  //foreground
  --mist: url(/img/mist.webp);
  --mist-glow: url(/img/smoke-glow.png);
  --sparkle: url(/img/sparkle.gif);
  --border: url(/img/border.webp);
  --border2: url(/img/border2.webp);

  //background
  --zoom: 130%;
  --space: url(/img/sky2.webp);
  --space-overlay: url(/img/space-overlay.png);
  --starsone: url(/img/starsone.png);
  --starstwo: url(/img/starstwo.png);
  --nebula-glow: url(/img/nebula-glow.png);
  --atmosphere: url(/img/atmosphere.webp);
  --clouds:url(/img/clouds.png);
  --flare: url(/img/flare.png);

  //black hole
  --glow: url(/img/black-hole-glow.png);
  --disc: url(/img/ring-disc.png);
  --disc-cloud: url(/img/disc-cloud.webp);
}

//resizable div to 'peel off' hair-mask?
//star shine -> finish

//border radius and card:before dont work on mobile well
//switch background (toggle light/dark), link to github/credits etc, formatting improvements, readme with resources linked, cleanup
//fix mist opacity/animations

//clear css files and run 'npm run scss' before inputting to prefixer

.foreground {
  border-radius: 20px 20px;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;

  background-position: 50% 50%;
  background-size: cover;
}

.background {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;

  background-position: 50% 50%;
  background-size: var(--zoom);
  background-repeat: no-repeat;

  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--maskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--maskimage);
  mask-size: cover;
  mask-repeat: no-repeat;
  
  transition: all 0.3s ease;
  will-change: background-position;
}

.nebula {
  background-image: var(--nebula-glow);
  transition: all 0.3s ease;
  will-change: background-position;
  height: 150px;
  width: 139px;
  mix-blend-mode: lighten;
  position: absolute;
  left: 50%;
  top: 11.5%;
  opacity: 0.8;
  filter: brightness(2);
  animation: brightness-flicker 7s linear infinite;
}

.flare {
  background-image: var(--flare);
  background-size: contain;
  mix-blend-mode: plus-lighter;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 5;
  will-change: background-position;
  opacity: 0.8;
  filter: brightness(2);
}

.flareone {
  left: 33.5%;
  top: 36.5%;
  height: 100px;
  width: 100px;
  animation: opacity-pulse-2 3s ease-in-out infinite alternate;
}

.flaretwo {
  top: 20%;
  left: 31%;
  height: 100px;
  width: 100px;
  animation: opacity-pulse-2 3s ease-in-out infinite alternate;
  animation-delay: 1.2s;
  filter: hue-rotate(60deg);
}

.atmosphere {
  background-image: var(--atmosphere);
  filter: saturate(3);
}

.clouds {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-image: var(--clouds);
  top: 0;
  left: 0;
  opacity: 0.9;
  background-position: 50% 50%;
  background-repeat: repeat-x;
  animation: move-clouds 110s linear infinite;
}

.cloud2 {
  top: 5%;
  animation-delay: 1s;
  opacity: 0.6;
  filter: blur(2px);
  transform: scaleX(1.5);
  mix-blend-mode: color-dodge;
  animation: move-clouds 400s ease-in-out infinite;
}

.stars {
  background-position: 50% 50%;
  background-size: var(--zoom);
  background-repeat: no-repeat;
  //transition: all 0.3s ease;

  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--starmask);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: repeat-x;
  mask-position: 50% 50%;
  mask-image: var(--starmask);
  mask-size: cover;
  mask-repeat: repeat-x;

  height: 100%;
  filter: saturate(2) brightness(2);
  background-image: var(--starsone);
}

.starsone {
  animation: move-background 40s linear infinite;
  mix-blend-mode: lighten;
}

.starstwo {
  background-image: var(--starstwo);
}

.card:hover .background,
.card:hover .black-hole,
.card:hover + .border,
.card:hover .nebula,
.card:hover .stars,
.card:hover .flare {
  transition: none;
}

.card:hover + .border {
  background-image: var(--border2);
}

.border {
  height: 747px;
  width: 575px;
  /*height: 771px;
  width: 593px;*/
  background-image: var(--border);
  transition: all 0.5s ease;
  pointer-events: none;
  position: absolute;
  background-repeat: no-repeat;
  //filter: drop-shadow(2px 4px 6px rgb(80, 0, 80));
  background-size: contain;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 20;
}

.border p {
  top: 90px;
  position: relative;
  background: none;
  font-family: ui-serif;
  font-style: italic;
  //filter: brightness(1.2);
  color: #ffd700; //gold
  background: #0000004d;
  width: 64.5%; //71.2%;
  top: 108px;
  left: 50%;
  transform: translate(-50%, 0px);
  padding: 0px;
}

.black-hole {
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 50px;
  left: 9.7%;
  top: 48.63%;

  mix-blend-mode: screen;
  mix-blend-mode: plus-lighter; 
  filter: brightness(2);

  transition: all 0.3s ease;
  will-change: background-position;
}

.disc {
  background-image: var(--disc);
  background-size: cover;
  animation: rotate-bg-2d 0.2s linear infinite, lingering-opacity-pulse 5s linear infinite alternate;
}

.d2 {
  height: 55px;
  width: 55px;
  animation: rotate-bg-2d 0.65s linear infinite, lingering-opacity-pulse 6s linear infinite alternate;
}

.d3 {
  height: 80px;
  width: 80px;
  animation: rotate-bg-2d 0.95s linear infinite, lingering-opacity-pulse 8s linear infinite alternate;
}

.d4 {
  height: 100px;
  width: 100px;
  animation: rotate-bg-2d 2.5s linear infinite, lingering-opacity-pulse 11s linear infinite alternate;
}

.cloud {
  filter: brightness(2.5) invert(46%) sepia(50%) saturate(2676%) hue-rotate(238deg) contrast(101%);
  height: 231px;
  width: 231px;
  background-image: var(--disc-cloud);
  animation: rotate-bg-2d 5.5s linear infinite, lingering-opacity-pulse 11s linear infinite alternate;
}

.c2 {
  animation: rotate-bg-2d-2 5.5s linear infinite, lingering-opacity-pulse 11s linear infinite alternate;
}

.dot {
  transition: all .3s ease;
  transform: translate(-50%, -50%);
  background-position: 50% 50%;
  animation: rotate-bg-2d 0.3s linear infinite;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url(/img/dot.png);
  filter: hue-rotate(114deg);
}

.glow {
  mix-blend-mode: screen;
  background-image: var(--glow);
  background-position: 50% 50%;
  background-size: var(--zoom);
  opacity: 1;
  animation: glow-pulse 3s linear infinite alternate;
}

.jewels {
  background-image: var(--gem-glow-fx);
  mix-blend-mode: lighten;
  mix-blend-mode: plus-lighter;
  //filter: brightness(2.5) saturate(2);
  animation: opacity-pulse 1s linear infinite alternate;
}

.hair-color-fx {
  background-image: var(--hair-color-fx);
  mix-blend-mode: screen;
  opacity: 0.85;
}

.mist-glow {
  background-image: var(--mist-glow);
  mix-blend-mode: color-burn; //overlay;
  filter: brightness(1.3);
  animation: lingering-opacity-pulse 10s linear infinite alternate;
}

.mist, .mist2, .mist3 {
  background-image: var(--mist);
  width: 2589px;
  opacity: 0.2;
  mix-blend-mode: screen;
}

.mist {
  background-position-x: (-1726px);
  opacity: 0.4;
  transform: scaleX(-1);
  animation: mist1 90s linear infinite;
}

.mist2 {
  animation: mist2 90s linear infinite;
  animation-delay: 1s;
}

.mist3 {
  mix-blend-mode: screen;
  mix-blend-mode: plus-lighter;
  animation: mist3 70s linear infinite;
  animation-delay: 2s;
  opacity: 0;
}

.sparkle {
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--sparkle-mask);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: repeat-x;
  mask-position: 50% 50%;
  mask-image: var(--sparkle-mask);
  mask-size: contain;
  mask-repeat: repeat-x;
  background-image: var(--sparkle);
  mix-blend-mode: screen;
  opacity: 0.3;
}

.sky {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  mix-blend-mode: screen;
  background-position-x: 50%;
  background-position-y: 40%;
  background-size: var(--zoom);

  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--maskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--maskimage);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.one {
  background-image: var(--starsone);
  filter: brightness(0.75);
  animation: glow-pulse 0.75s ease-in-out infinite;
}

.two {
  background-image: var(--starstwo);
  filter: brightness(0.5);
  animation-delay: 0.35s;
  animation: glow-pulse .5s linear infinite;
}

.card {
  width: 71.5vw;
  height: 100vw;
    // width: clamp(200px, 61vh, 18vw);
    // height: clamp(280px, 85vh, 25.2vw);
  @media screen and (min-width: 650px) {
    //width: 61vh;
    //height: 85vh;
    max-width: 500px;
    max-height: 700px;
    //width: clamp(12.9vw, 61vh, 18vw);
    //height: clamp(18vw, 85vh, 25.2vw);
  }
  
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  
  border-radius: 5% / 3.5%;
  box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

  
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  
  background-color: #0407127c;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card:hover {
  box-shadow: 
    -20px -20px 30px -25px var(--color1), 
    20px 20px 30px -25px var(--color2), 
    -7px -7px 10px -5px var(--color1), 
    7px 7px 10px -5px var(--color2), 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.nida {
  --color1: var(--nida1);
  --color2: var(--nida2);
  --front: var(--nidalee);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

/*.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
}*/

.card:after {
  opacity: 1;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--maskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--maskimage);
  mask-size: cover;
  mask-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: var(--zoom);
  background-blend-mode: overlay;
  background-image: var(--space-overlay),
    var(--space),
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  z-index: 2;
  filter: brightness(1) contrast(1);
  //filter: brightness(0.6) contrast(1) saturate(1.5);
  transition: all .33s ease;
  mix-blend-mode: screen;
  opacity: .95;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);;
  opacity: 1;
}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  animation: none;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--hovermaskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--hovermaskimage);
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 5% / 3.5%;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
  &:before { 
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }
  &:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  }
}

.demo .card {
  background-image: var(--back);
  font-size: 2vh
}
.demo .card > span {
  position: relative;
  top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(white,0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  animation: none;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  &:before, &:after {
    animation: none;
    // opacity: 1;
  } 
}
.demo .card:nth-of-type(1) {
  &:before, &:after { display: none; }
}
.demo .card:nth-of-type(2) {
  background: none;
  &:before { display: none; }
}
.demo .card:nth-of-type(3) {
  background: none;
  &:after { display: none; }
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

html {
  height: 100%;
  /*background: rgb(43,26,60);
background: linear-gradient(0deg, rgba(43,26,60,1) 0%, rgba(223,172,74,1) 45%, rgba(15,65,107,1) 86%);*/
/*background: rgb(43,26,60);
background: linear-gradient(0deg, rgba(43,26,60,1) 0%, rgba(223,172,74,1) 50%, rgba(15,65,107,1) 90%);*/
/*background: rgb(43,26,60);
background: linear-gradient(0deg, rgba(43,26,60,1) 0%, rgba(249,187,68,1) 47.1%, rgba(15,65,107,1) 90%);*/

background-blend-mode: overlay;
background: linear-gradient(0deg, rgba(255,255,255,0) 40%, rgba(255, 252, 250, 0.062) 50%, rgba(255,255,255,0) 60%),
            radial-gradient(circle, #ffffff00 0%, #88460875 100%),
            linear-gradient(0deg, #21132f 5%, #ffcc6b80, #092e4d 90%);

//really nice
/*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,204,107,1) 100%), linear-gradient(0deg, rgba(33,19,47,1) 5%, rgba(255,204,107, 50%), rgba(9,46,77,1) 90%);
background-blend-mode: exclusion;*/

//background-color: hsl(217deg 28% 12%); //#333844;
  padding: 0;
  z-index: 1;
  transform: translate3d(0,0,0.1px);
}

body {
  background-image: url(/img/space-overlay.png), linear-gradient(0deg, rgba(255,255,255,0) 40%, rgba(255, 252, 250, 0.062) 50%, rgba(255,255,255,0) 60%),
  radial-gradient(circle, #ffffff00 0%, #88460875 100%),
  linear-gradient(0deg, #21132f 5%, #ffcc6b80, #092e4d 90%);
  background-blend-mode: soft-light;
  background-size: cover;
  height: 100%;
  padding: 0;
  z-index: 1;
  transform: translate3d(0,0,0.1px);
}
body {
  color: white;
  //background: rgb(4,35,79);
  //background: linear-gradient(0deg, rgba(4,35,79,1) 0%, rgba(20,57,111,1) 50%, rgba(0,87,74,1) 100%);
  //background-color: hsl(217deg 28% 12%);//#333844;
  font-family: "Heebo", sans-serif;
  text-align: center;
  margin: 0px;
}
h1 {
  position: relative;
  top: 30px;
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}
p {
  margin-top: 5px;
  font-weight: 200;
}
#app {
  position: relative;
}

.demo,
.cards { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px )
}
.demo {
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 650px) {
  .cards {
    flex-direction: row;
    height: 800px;
  }
}

.cards .card {
  &:nth-child(2) {
    &, &:before, &:after {
      animation-delay: 0.25s;
    }
  }
  &:nth-child(3) {
    &, &:before, &:after {
      animation-delay: 0.5s;
    }
  }
  &:nth-child(4) {
    &, &:before, &:after {
      animation-delay: 0.75s;
    }
  }
}

p {
  font-weight: 400;
  font-size: 18px;
  padding: 1em;
  background: rgba(0,0,0,0.3);
  margin-top: 0;
}

p.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}
p a {
  color: cyan;
}

html,body,main {
  min-height: 100%;
}