@import url(/animations.css);
:root {
  --color1: rgba(125, 242, 255, 0.459);
  --color2: rgba(255, 0, 230, 0.418);
  --nida1: #ff006a8c;
  --nida2: rgba(255, 0, 230, 0.418);
  --nidalee: url(/img/nidalee2.png);
  --gem-glow-fx: url(/img/glow.png);
  --maskimage: url(/img/sky-mask.png);
  --hovermaskimage: url(/img/hover-mask-throughhair.png);
  --mist: url(/img/mist.png);
  --mist-glow: url(/img/smoke-glow.png);
  --border: url(/img/border.png);
  --border2: url(/img/border2.png);
  --zoom: 130%;
  --space: url(/img/sky.png);
  --starsone: url(/img/starsone.png);
  --starstwo: url(/img/starstwo.png);
  --glow: url(/img/black-hole-glow.png);
  --disc: url(/img/ring-disc.png);
  --disc-cloud: url(/img/disc-cloud.png); }

.foreground {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover; }

.background {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: var(--zoom);
  background-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--maskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--maskimage);
  mask-size: cover;
  mask-repeat: no-repeat;
  transition: all 0.3s ease;
  will-change: background-position; }

.card:hover .background,
.card:hover .black-hole,
.card:hover + .border {
  transition: none; }

.card:hover + .border {
  background-image: var(--border2); }

.border {
  height: 747px;
  width: 575px;
  /*height: 771px;
  width: 593px;*/
  background-image: var(--border);
  transition: all 0.5s ease;
  pointer-events: none;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 20; }

.border p {
  top: 90px;
  position: relative;
  background: none;
  font-family: ui-serif;
  font-style: italic;
  color: #ffd700; }

.black-hole {
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 50px;
  left: 9.7%;
  top: 48.63%;
  mix-blend-mode: screen;
  mix-blend-mode: plus-lighter;
  filter: brightness(2);
  transition: all 0.3s ease;
  will-change: background-position; }

.disc {
  background-image: var(--disc);
  background-size: cover;
  animation: rotate-bg-2d 0.2s linear infinite, lingering-opacity-pulse 5s linear infinite alternate; }

.d2 {
  height: 55px;
  width: 55px;
  animation: rotate-bg-2d 0.65s linear infinite, lingering-opacity-pulse 6s linear infinite alternate; }

.d3 {
  height: 80px;
  width: 80px;
  animation: rotate-bg-2d 0.95s linear infinite, lingering-opacity-pulse 8s linear infinite alternate; }

.d4 {
  height: 100px;
  width: 100px;
  animation: rotate-bg-2d 2.5s linear infinite, lingering-opacity-pulse 11s linear infinite alternate; }

.cloud {
  filter: brightness(2.5) invert(46%) sepia(50%) saturate(2676%) hue-rotate(238deg) contrast(101%);
  height: 231px;
  width: 231px;
  background-image: var(--disc-cloud);
  animation: rotate-bg-2d 5.5s linear infinite, lingering-opacity-pulse 11s linear infinite alternate; }

.c2 {
  animation: rotate-bg-2d-2 5.5s linear infinite, lingering-opacity-pulse 11s linear infinite alternate; }

.dot {
  transition: all .3s ease;
  transform: translate(-50%, -50%);
  background-position: 50% 50%;
  animation: rotate-bg-2d 0.3s linear infinite;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url(/img/dot.png);
  filter: hue-rotate(114deg); }

.glow {
  mix-blend-mode: screen;
  background-image: var(--glow);
  background-position: 50% 50%;
  background-size: var(--zoom);
  opacity: 1;
  animation: glow-pulse 3s linear infinite alternate; }

.jewels {
  background-image: var(--gem-glow-fx);
  mix-blend-mode: color-dodge;
  mix-blend-mode: plus-lighter;
  filter: brightness(2);
  animation: opacity-pulse 5s linear infinite alternate; }

.mist-glow {
  background-image: var(--mist-glow);
  mix-blend-mode: color-burn;
  filter: brightness(1.3);
  animation: lingering-opacity-pulse 10s linear infinite alternate; }

.mist, .mist2, .mist3 {
  background-image: var(--mist);
  width: 2589px;
  opacity: 0.1;
  mix-blend-mode: screen; }

.mist {
  background-position-x: -1726px;
  opacity: 0.5;
  transform: scaleX(-1);
  animation: mist1 90s linear infinite; }

.mist2 {
  animation: mist2 90s linear infinite;
  animation-delay: 1s; }

.mist3 {
  mix-blend-mode: screen;
  mix-blend-mode: plus-lighter;
  animation: mist3 70s linear infinite;
  animation-delay: 2s;
  opacity: 0; }

.sky {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  mix-blend-mode: screen;
  background-position-x: 50%;
  background-position-y: 40%;
  background-size: var(--zoom);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--maskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--maskimage);
  mask-size: cover;
  mask-repeat: no-repeat; }

.one {
  background-image: var(--starsone);
  filter: brightness(0.75);
  animation: glow-pulse 0.75s ease-in-out infinite; }

.two {
  background-image: var(--starstwo);
  filter: brightness(0.5);
  animation-delay: 0.35s;
  animation: glow-pulse .5s linear infinite; }

.card {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #0407127c;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

@media screen and (min-width: 600px) {
  .card {
    max-width: 500px;
    max-height: 700px; } }

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5); }

.card.nida {
  --color1: var(--nida1);
  --color2: var(--nida2);
  --front: var(--nidalee); }

.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease; }

/*.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
}*/
.card:after {
  opacity: 1;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--maskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--maskimage);
  mask-size: cover;
  mask-repeat: no-repeat;
  background-image: url(/img/sparkle.gif), var(--space), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: var(--zoom);
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: screen;
  opacity: .95; }

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1; }

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out; }

.card.active:before,
.card:hover:before {
  animation: none;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-image: var(--hovermaskimage);
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-image: var(--hovermaskimage);
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 5% / 3.5%;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(0.66) contrast(1.33);
  transition: none; }

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none; }

.card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1; }

.card.animated:before {
  transition: none;
  animation: holoGradient 12s ease 0s 1; }

.card.animated:after {
  transition: none;
  animation: holoSparkle 12s ease 0s 1; }

.demo .card {
  background-image: var(--back);
  font-size: 2vh; }

.demo .card > span {
  position: relative;
  top: 45%; }

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  animation: none; }

.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(2):after,
.demo .card:nth-of-type(3):before,
.demo .card:nth-of-type(3):after {
  animation: none; }

.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(1):after {
  display: none; }

.demo .card:nth-of-type(2) {
  background: none; }

.demo .card:nth-of-type(2):before {
  display: none; }

.demo .card:nth-of-type(3) {
  background: none; }

.demo .card:nth-of-type(3):after {
  display: none; }

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh; }

html, body {
  height: 100%;
  background-color: #333844;
  padding: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0.1px); }

body {
  color: white;
  background-color: #333844;
  font-family: "Heebo", sans-serif;
  text-align: center; }

h1 {
  display: block;
  margin: 30px 0; }

p {
  margin-top: 5px;
  font-weight: 200; }

#app {
  position: relative; }

.demo,
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px); }

.demo {
  flex-direction: row;
  justify-content: center; }

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
    height: 800px; } }

.cards .card:nth-child(2), .cards .card:nth-child(2):before, .cards .card:nth-child(2):after {
  animation-delay: 0.25s; }

.cards .card:nth-child(3), .cards .card:nth-child(3):before, .cards .card:nth-child(3):after {
  animation-delay: 0.5s; }

.cards .card:nth-child(4), .cards .card:nth-child(4):before, .cards .card:nth-child(4):after {
  animation-delay: 0.75s; }

p {
  font-weight: 400;
  font-size: 18px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 0; }

p.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0; }

p a {
  color: cyan; }

html, body, main {
  min-height: 100%; }
